<!doctype html>
<html lang="en">
  <head>
      <title>Janky</title>
      <link type="text/css" rel="stylesheet" href="/theme.css"/>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
          <p>
          This is so Janky
          </p>
          <div id="projects">
              <ul>
              {{#each config.projects}}
              <li><a href="/projects/{{@key}}"><strong>{{@key}}</strong></a></li>
              {{/each}}
          </div>
      </main>
    </div>
  </body>
</html>


