<!doctype html>
<html lang="en">
  <head>
      <title>Janky</title>
      <link type="text/css" rel="stylesheet" href="/theme.css"/>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
          <p>
          This is so Janky
        </p>
      </main>
    </div>
  </body>
</html>


