<!doctype html>
<html lang="en">
  <head>
      <title>Synchronik - {{name}}</title>
      <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css"/>
      <script src="/static/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  </head>

  <body class="text-center">
    {{> _navbar }}

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div class="row">
            <div class="col col-sm-2">
                Links go here
            </div>
            <div class="col col-lg">
                <main role="main" class="inner cover"> <div id="projects">
                    Runs go here 
                </main>
            </div>
        </div>
    </div>
  </body>
</html>


